.nav,
a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 24px;
  text-decoration: none;
  color: cadetblue;
  width: fit-content;
  width: 100%;
  padding: 10px;
}

a:link {
  opacity: 1;
}
a:visited {
  opacity: 0.5;
}
a:hover {
  opacity: 0.5;
}
a:active {
  opacity: 0.5;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 24px;
  color: teal;
  width: fit-content;
  width: 100%;
  padding: 10px;
}

p,
h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 22px;
  color: brown;
  width: fit-content;
  width: 100%;
  padding-left: 10px;
}

button {
  display: inline-block;
  background-color: cadetblue;
  color: brown;
  font-size: 18px;
  font-weight: bold;
  width: 10rem;
  padding: 10px;
}

.country-row {
  display: inline-block;
  width: 12rem;
  line-height: 20px;
}

.country-column {
  width: 95%;
  text-align: left;
  padding-left: 5px;
  margin-top: 5px;
}

img {
  padding-left: 10px;
}

/* -------  Media Query ------- */

@media all and (max-width: 768px) {
  div {
    text-align: center;
    margin-top: 10px;
  }

  ul {
    padding: 0px;
  }

  hr {
    margin-top: 30px;
  }

  .nav,
  a {
    font-size: 40px;
    margin-bottom: 5px;
  }

  h1 {
    font-size: 38px;
    padding: 0px;
  }

  p,
  h3 {
    font-size: 32px;
    padding: 0px;
  }

  button {
    font-size: 28px;
    width: 18rem;
  }

  .country-row {
    width: 20rem;
  }

  .country-column {
    text-align: center;
  }
}
