body {
  width: 100%;
  background-color: #abd1c6;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  width: 90%;
  border: 1px solid #001e1d;
  margin: 20px 0;
}

nav,
a {
  font-size: 24px;
  text-decoration: none;
  color: #004643;
  width: 100%;
  transition: 0.5s ease;
}

a:hover {
  opacity: 0.5;
  transition: 0.5 ease;
}

img {
  max-width: 300px;
  height: 150px;
  border: 3px solid #004643;
  border-radius: 20px;
  padding: 7px;
  color: #e16162;
  font-size: 20px;
  font-weight: bold;
}

h1 {
  font-size: 28px;
  color: #001e1d;
  width: fit-content;
  width: 100%;
  padding: 10px;
}

p {
  font-size: 22px;
  font-weight: bold;
  color: #004643;
  width: fit-content;
  width: 100%;
  padding-left: 10px;
}
h3 {
  font-size: 22px;
  font-weight: bold;
  color: brown;
  width: fit-content;
  width: 100%;
  padding-left: 10px;
}

button {
  display: block;
  background-color: #f9bc60;
  border-radius: 25px;
  border: 2px solid #004643;
  color: #232946;
  font-size: 18px;
  font-weight: bold;
  width: 10rem;
  padding: 10px;
  transition: 0.5s ease;
}
button:hover {
  background-color: #232946;
  color: #f9bc60;
  border: 2px solid #f9bc60;
  transition: 0.5s ease;
}

.header {
  width: 80%;
  margin: auto;
  padding: 35px;
}

.header-links {
  padding-right: 40px;
  font-size: 25px;
  font-weight: 500;
}

.country-info {
  color: #001e1d;
  font-weight: 500;
}
.country-details {
  color: #004643;
  font-weight: 800;
  display: inline;
}

.country-row {
  display: inline-block;
  width: 12rem;
  line-height: 20px;
}

.country-column {
  width: 100%;
  text-align: center;
}

/* -------  Media Query ------- */

@media all and (max-width: 768px) {
  div {
    text-align: center;
    margin-top: 10px;
  }

  ul {
    padding: 0px;
  }

  hr {
    margin-top: 30px;
  }

  .nav,
  a {
    font-size: 40px;
    margin-bottom: 5px;
  }

  h1 {
    font-size: 38px;
    padding: 0px;
  }

  p,
  h3 {
    font-size: 32px;
    padding: 0px;
  }

  button {
    font-size: 28px;
    width: 18rem;
  }

  .country-row {
    width: 20rem;
  }

  .country-column {
    text-align: center;
  }
}
